<%= form_for(@trip_report) do |f| %>
  <% if @trip_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip_report.errors.count, "error") %> prohibited this trip_report from being saved:</h2>

      <ul>
      <% @trip_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for @patient do |p| %>

  <% end %>
  
  <div class="field">
    <%= f.label :run_number %><br />
    <%= f.number_field :run_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
