<h1>Listing trip_reports</h1>

<table>
  <thead>
    <tr>
      <th>Run number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trip_reports.each do |trip_report| %>
    <tr>
      <td><%= trip_report.run_number %></td>
      <td><%= link_to 'Show', trip_report %></td>
      <td><%= link_to 'Edit', edit_trip_report_path(trip_report) %></td>
      <td><%= link_to 'Destroy', trip_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Trip report', new_trip_report_path %>
