<p id="notice"><%= notice %></p>

<p>
  <strong>Run number:</strong>
  <%= @trip_report.run_number %>
</p>


<%= link_to 'Edit', edit_trip_report_path(@trip_report) %> |
<%= link_to 'Back', trip_reports_path %>
