<%= form_for(@code_code) do |f| %>
  <% if @code_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code_code.errors.count, "error") %> prohibited this code_code from being saved:</h2>

      <ul>
      <% @code_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
