<h1>Listing code_codes</h1>

<table>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Description</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @code_codes.each do |code_code| %>
    <tr>
      <td><%= code_code.reference %></td>
      <td><%= code_code.description %></td>
      <td><%= code_code.type %></td>
      <td><%= link_to 'Show', code_code %></td>
      <td><%= link_to 'Edit', edit_code_code_path(code_code) %></td>
      <td><%= link_to 'Destroy', code_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Code', new_code_code_path %>
