<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @code_code.reference %>
</p>

<p>
  <strong>Description:</strong>
  <%= @code_code.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @code_code.type %>
</p>


<%= link_to 'Edit', edit_code_code_path(@code_code) %> |
<%= link_to 'Back', code_codes_path %>
